@media only screen and (max-width: 1600px) {

/*-- Section 5 - Main Page --*/

.sect_5_mp {
    padding: 20px 0;
}

/*-- /Section 5 - Main Page --*/

/*-- Section 1 - Author Page --*/

.promo_shape_2 {
    bottom: -40px;
    right: 0;
    max-width: 600px;
}

/*-- /Section 1 - Author Page --*/

/*-- Section 1 - Author Page --*/

.steps_wrapp {
    height: 484px;
    max-width: 935px;
}

.steps_lines {
    width: 900px;
}

.step_item {
    max-width: 240px;
}

.step_item h3 {
    font-size: 18px;
}

.step_item p.price_range {
    font-size: 27px;
}

.step_1 {
    bottom: -4px;
    left: 7%;
}

.step_2 {
    bottom: 80px;
    left: 35%;
}

.step_3 {
    bottom: 154px;
    left: 59%;
}

.step_4 {
    bottom: 270px;
    left: 82%;
}

/*-- /Section 1 - Author Page --*/

/*-- Section 3 - Author Page --*/

.right_icons {
    left: 10px;
}

.steps_scale_wrapp {
    height: 589px;
}

.steps_scale {
    transform: scale(.8);
    -webkit-transform: scale(.8);
    position: relative;
    top: -71px;
}

/*-- /Section 3 - Author Page --*/

.footer_shape {
	display: none;
}

}

@media only screen and (max-width: 1480px) {

h1 {
    font-size: 40px;
    line-height: 50px;
}

/*-- Header --*/

.main_nav {
    padding-left: 3%;
}

.main_nav li {
    padding: 5px 20px;
}

.main_nav li a {
    font-size: 18px;
    line-height: 20px;
}

/*-- /Header --*/

/*-- Section 1 - Main Page --*/

.promo_templ {
    padding: 30px 0 0 0;
}

.promo_templ > .left {
    width: 46%;
}

.promo_templ > .right {
    width: 52%;
}

.item {
    margin: 5px 0 5px 0;
}

.item p {
    font-size: 18px;
    line-height: 22px;
}

.item p .up {
    font-size: 18px;
    line-height: 22px;
}

.promo_form_title h3 {
    font-size: 33px;
    line-height: 39px;
}

.promo_form {
    margin-bottom: 0;
}

.input_two_cols {
    padding: 5px 0;
}

/*-- /Section 1 - Main Page --*/

/*-- Section 2 - Main Page --*/

.inlines {
    margin: 22px -35px 0 -35px;
}

/*-- /Section 2 - Main Page --*/

/*-- Section 1 - FAQ --*/

.h1_wrapp_2_2 {
    max-width: calc(100% - 450px);
}

.h1_wrapp_2 h1 {
    font-size: 49px;
    line-height: 57px;
}

.h1_wrapp_2_2 p {
    font-size: 19px;
}

.h1_wrapp_2_2 p a {
    font-size: 26px;
}

/*-- /Section 1 - FAQ --*/

/*-- Section 1 - Contacts --*/

.h1_wrapp_3 {
    max-width: 100%;
    padding: 15px 400px 40px 0;
}

.h1_wrapp_3 p {
    font-size: 19px;
}

/*-- /Section 1 - Contacts --*/

/*-- Section 1 - 404 --*/

.templ_404 h1 {
    font-size: 43px;
}

/*-- /Section 1 - 404 --*/

/*-- Section 1 - About --*/

.h1_wrapp_about p {
    font-size: 19px;
}

/*-- /Section 1 - About --*/

/*-- Section 1 - Prices --*/

.price_promo_shape {
    right: 0;
}

.h1_wrapp_5 h1 {
    font-size: 40px;
}

.h1_wrapp_5 > p {
    font-size: 18px;
}

/*-- /Section 1 - Prices --*/

/*-- Footer --*/

.links_inlines {
    margin: 0 -10px;
}

.links_inlines > div {
    padding: 10px 10px;
}

/*-- /Footer --*/

}

@media only screen and (max-width: 1300px) {

.row {
    padding: 0 25px;
}

.wrapper {
    padding-top: 84px;
}

/*-- Header --*/

.header_site_templ > .left {
    width: 145px;
}

.header_site_templ > .center {
    width: calc(100% - 375px);
}

.header_site_templ > .right {
    width: 230px;
}

.main_nav {
    padding-left: 0;
    justify-content: center;
    -webkit-justify-content: center;
}

.main_nav li {
    padding: 5px 15px;
}

.main_nav li a {
    font-size: 18px;
    line-height: 20px;
}

.callback_wrapp > div {
    padding: 0;
}

.tel_link span {
    font-size: 20px;
    line-height: 25px;
}

.main_nav_wrapp {
    padding: 21px 0 15px 0;
}

.header_pill {
    min-width: 206px;
    min-height: 38px;
    font-size: 18px;
    line-height: 22px;
}

/*-- /Header --*/

/*-- Section 1 - Main Page --*/

.input_two_cols > div:nth-child(1) {
    width: 140px;
    padding: 14px 5px 5px 0;
}

.input_two_cols > div:nth-child(2) {
    width: calc(100% - 140px);
}

.submit_wrapp {
    padding: 10px 0 0 145px;
}

/*-- /Section 1 - Main Page --*/

/*-- Section 4 - Main Page --*/

.sect_4_mp {
    padding: 51px 0 10px 0;
}

.two_cols_2 > div:nth-child(odd) {
    padding: 0 15px 0 0;
}

.two_cols_2 > div:nth-child(even) {
    padding: 0 0 0 15px;
}

/*-- /Section 4 - Main Page --*/

/*-- Section 5 - Main Page --*/

.thumb_3 h3 {
    font-size: 34px;
}

.thumb_3 p {
    font-size: 18px;
}

/*-- /Section 5 - Main Page --*/

/*-- Section 2 - Contacts --*/

.map_templ > .left_col {
    width: 430px;
}

.map_templ > .right_col {
    width: calc(100% - 430px);
}

.map_templ h3 {
    font-size: 25px;
    line-height: 31px;
}

.contacts_thumb {
    margin: 25px 0 10px 0;
}

.contacts_thumb_inner {
    padding: 15px 15px 15px 15px;
}

/*-- /Section 2 - Contacts --*/

/*-- Section 3 - Contacts --*/

.blue_box {
    padding: 10px 15px 13px 15px;
}

.blue_box p {
    font-size: 16px;
}

/*-- /Section 3 - Contacts --*/

/*-- Section 1 - About --*/

.h1_wrapp_about {
    max-width: 100%;
    padding: 36px 510px 37px 0;
}

.about_promo_shape {
    right: 0;
    max-width: 500px;
}

/*-- /Section 1 - About --*/

/*-- Section 2 - About --*/

.about_thumbs_sect {
    margin: 45px 0 50px 0;
}

.about_thumb p {
    font-size: 16px;
}

.about_thumb p .blue {
    font-size: 22px;
}

/*-- /Section 2 - About --*/

/*-- Section 3 - Author Page --*/

.right_icons {
    display: none;
}

/*-- /Section 3 - Author Page --*/

/*-- Section 3 - Service --*/

.article_two_cols {
    width: calc(100% - 500px);
}

.sect_3_service_shape {
    width: 400px;
}

.items_list li {
    font-size: 16px;
}

.items_list li .title {
    font-size: 16px;
}

/*-- /Section 3 - Service --*/

/*-- Section 6 - Service --*/

.thumb_6 {
    width: calc(50% - 20px);
}

/*-- /Section 6 - Service --*/

/*-- Section 1 - Order --*/

.order_form_inner {
    padding: 20px 25px 30px 25px;
}

.order_form_title {
    padding: 10px 20px 15px 20px;
}

.order_form_title h2 {
    font-size: 32px;
    line-height: 39px;
}

.order_form_title p {
    font-size: 23px;
    line-height: 29px;
}

.input_two_cols_2 > div:nth-child(1) {
    width: 190px;
}

.input_two_cols_2 > div:nth-child(2) {
    width: calc(100% - 190px);
}

.input_two_cols_2 h3 {
    font-size: 16px;
    line-height: 17px;
}

.submit_wrapp_3 {
    margin: 10px 0 0 215px;
}

/*-- /Section 1 - Order --*/

/*-- Footer --*/

.footer_two_cols_2 {
    padding: 20px 0 20px 0;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
}

.footer_two_cols_2 > div:nth-child(odd),
.footer_two_cols_2 > div:nth-child(even) {
    width: 100%;
    padding: 5px 0;
}

.payments_wrapp {
    justify-content: center;
    -webkit-justify-content: center;
}

.links_inlines {
    justify-content: center;
    -webkit-justify-content: center;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
}

/*-- /Footer --*/

}

@media only screen and (max-width: 1124px) {

h2 {
    font-size: 32px;
    line-height: 41px;
}

/*-- Section 1 - Main Page --*/

.promo_templ {
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
}

.promo_templ > .left {
    width: 100%;
    padding: 5px 0;
}

.promo_templ > .right {
    width: 100%;
    max-width: 767px;
    margin: 0 auto;
    padding: 5px 0;
}

.h1_wrapp {
    padding: 8px 0 10px 0;
}

/*-- /Section 1 - Main Page --*/

/*-- Section 2 - Main Page --*/

.how_works_templ > div:nth-child(1) {
    width: 270px;
}

.phone_img {
    display: block;
    width: auto;
    height: auto;
    max-width: 100%;
}

.how_works_templ > div:nth-child(2) {
    width: calc(100% - 270px);
    padding-left: 20px;
}

.item_3 {
    margin: 15px 0;
    padding: 15px 25px 15px 20px;
}

.item_3 h3 {
    font-size: 21px;
    line-height: 25px;
}

/*-- /Section 2 - Main Page --*/

/*-- Section 3 - Main Page --*/

.thunb_2 {
    width: calc(50% - 20px);
}

/*-- /Section 3 - Main Page --*/

/*-- Section 1 - FAQ --*/

.promo_faq {
    display: none;
}

.h1_wrapp_2_2 {
    max-width: 100%;
}

/*-- /Section 1 - FAQ --*/

/*-- Section 2 - FAQ --*/

.tab_link {
    font-size: 18px;
}

/*-- /Section 2 - FAQ --*/

/*-- Section 1 - Contacts --*/

.h1_wrapp_3 {
    padding: 15px 0 40px 0;
}

.contacts_promo_shape {
    display: none;
}

/*-- /Section 1 - Contacts --*/

/*-- Section 1 - 404 --*/

.templ_404 > .left_col {
    width: calc(100% - 450px);
}

.templ_404 > .right_col {
    width: 450px;
}

/*-- /Section 1 - 404 --*/

/*-- Section 1 - About --*/

.h1_wrapp_about {
    max-width: 100%;
    padding: 36px 510px 37px 0;
}

.h1_wrapp_about h1 {
    font-size: 32px;
    line-height: 42px;
}

/*-- /Section 1 - About --*/

/*-- Section 3 - About --*/

.sect_3_about {
    padding: 20px 0 30px 0;
}

.h2_wrapp_2 p {
    font-size: 16px;
}

.steps_templ {
    max-width: 930px;
    margin: 52px auto;
}

.step_item_2_shape {
    left: -105px;
}

.step_figure h3 {
    font-size: 22px;
}

.step_figure p {
    font-size: 15px;
}

.step_figure_1 {
    max-width: 407px;
}

.step_figure_2 {
    max-width: 424px;
}

.step_figure_3 {
    max-width: 464px;
}

.step_figure_4 {
    max-width: 514px;
}

.step_figure_5 {
    max-width: 568px;
}

.step_percent > svg {
    height: 78px;
}

.step_percent p {
    padding-top: 40px;
    font-size: 36px;
    line-height: 100%;
}

.step_item_2 > div:nth-child(2) {
    width: 170px;
    left: -106px;
}

/*-- /Section 3 - About --*/

/*-- Section 5 - About --*/

.two_cols_3 > .left_col {
    width: 50%;
    padding: 10px 15px 10px 0;
}

.two_cols_3 > .right_col {
    width: 50%;
    padding: 10px 0 10px 15px;
}

.item_8 > div:nth-child(2):before {
    left: 25px;
}

.item_8 h3 {
    font-size: 20px;
}

.item_8 p {
    font-size: 16px;
}

.item_8 > div:nth-child(2):before {
    height: 57px;
}

.blue_box_2 > .inner {
    padding: 18px 10px 17px 10px;
}

.item_7 h3 {
    font-size: 16px;
}

.item_7 p {
    font-size: 19px;
}

.thumb_7 h3 {
    font-size: 24px;
}

.thumb_7 p {
    font-size: 14px;
}

/*-- /Section 5 - About --*/

/*-- Section 1 - Author Page --*/

.sect_2_ap {
    padding: 30px 0 40px 0;
}

.step_item {
    max-width: 192px;
    padding: 10px 10px 10px 10px;
}

.step_item h3 {
    font-size: 16px;
}

.step_item p {
    font-size: 16px;
}

.step_item p.price_range {
    font-size: 22px;
}

.step_1 {
    bottom: 26px;
    left: 7%;
}

.step_2 {
    bottom: 109px;
    left: 35%;
}

.step_3 {
    bottom: 185px;
    left: 62%;
}

.step_4 {
    bottom: 297px;
    left: 81%;
}

/*-- /Section 1 - Author Page --*/

/*-- Section 1 - Service --*/

.sect_1_service .promo_form {
    margin-bottom: 0;
}

/*-- /Section 1 - Service --*/

/*-- Section 5 - Service --*/

.service_article > .left_col {
    width: 360px;
}

.service_article > .right_col {
    width: calc(100% - 360px);
}

.service_article_2 > .left_col {
    width: calc(100% - 360px);
}

.service_article_2 > .right_col {
    width: 360px;
}

.service_article > .left_col img {
    max-width: 100%;
}

.service_article ul li {
    font-size: 17px;
}

.white_box {
    padding: 29px 15px 28px 15px;
}

.white_box p {
    font-size: 17px;
}

/*-- /Section 5 - Service --*/

/*-- Section 2 - Prices --*/

.price_table_wrapp {
    padding: 12px 10px 29px 10px;
}

.price_table_row > div:nth-child(1) {
    width: 35%;
}

.price_table_row > div:nth-child(2) {
    width: 22%;
}

.price_table_row > div:nth-child(3) {
    width: 19%;
    padding: 5px 10px;
}

.price_table_row .transparent_pill {
    font-size: 17px;
}

.price_table_row > div:nth-child(1) p {
    font-size: 18px;
}

.price_table_row > div:nth-child(2) p {
    font-size: 18px;
}

.price {
    font-size: 17px;
}

/*-- /Section 2 - Prices --*/


}

@media only screen and (max-width: 1024px) {

.wrapper {
    padding-top: 62px;
}

/*-- Header --*/

.header_site_templ > .left {
    width: 90px;
}

.header_site_templ > .center {
    width: calc(100% - 270px);
}

.header_site_templ > .right {
    width: 180px;
    padding-top: 0;
}

.main_nav_wrapp {
    padding: 11px 0 11px 0;
}

.main_nav li a {
    font-size: 16px;
    line-height: 17px;
}

.tel_link svg {
    height: 20px;
}

.tel_link span {
    font-size: 16px;
    line-height: 20px;
}

.header_pill {
    min-width: 170px;
    min-height: 31px;
    font-size: 16px;
    line-height: 21px;
}

/*-- /Header --*/

/*-- Section 4 - Main Page --*/

.sect_4_mp {
    padding: 30px 0 10px 0;
}

.two_cols_2 {
    margin: 10px auto 20px auto;
}

.two_cols_2 > div:nth-child(odd) {
    width: 100%;
    padding: 0;
}

.two_cols_2 > div:nth-child(even) {
    width: 100%;
    padding: 0;
}

.two_cols_2 > div:nth-child(odd) .dropdown_item:nth-child(1) {
    margin-top: 0;
}

.two_cols_2 > div:nth-child(even) .dropdown_item:nth-child(1) {
    margin-top: 0;
}

/*-- /Section 4 - Main Page --*/

/*-- Section 5 - Main Page --*/

.thumb_3 {
    width: calc(33.33% - 14px);
}

/*-- /Section 5 - Main Page --*/

/*-- Section 1 - 404 --*/

.templ_404 h1 {
    font-size: 31px;
}

.templ_404 p {
    font-size: 16px;
}

.templ_404 p {
    padding: 5px 0;
    font-size: 16px;
}

/*-- /Section 1 - 404 --*/

/*-- Section 1 - About --*/

.h1_wrapp_about {
    padding: 36px 0;
}

.about_promo_shape {
    display: none;
}

/*-- /Section 1 - About --*/

/*-- Section 3 - About --*/

.step_item_2 > div:nth-child(2) {
    left: -61px;
}

/*-- /Section 3 - About --*/

/*-- Section 4 - About --*/

.line_article .inner {
    width: calc(100% - 300px);
}

.line_article_shape {
    max-width: 300px;
}

.line_article p {
    font-size: 16px;
}

/*-- /Section 4 - About --*/

/*-- Section 1 - Author Page --*/

.promo_shape_2 {
    bottom: -26px;
    max-width: 400px;
}

/*-- /Section 1 - Author Page --*/

/*-- Section 2 - Author Page --*/

.steps_wrapp {
    height: 400px;
    max-width: 690px;
    margin: -10px auto 0 auto;
}

.steps_lines {
    width: 670px;
}

.step_item {
    max-width: 137px;
}

.step_item h3 {
    font-size: 13px;
}

.step_item p.price_range {
    font-size: 18px;
}

.step_2 {
    bottom: 89px;
    left: 34%;
}

.step_3 {
    bottom: 142px;
    left: 59%;
}

.step_4 {
    bottom: 230px;
}

/*-- /Section 2 - Author Page --*/

/*-- Section 3 - Author Page --*/

.steps_scale_wrapp {
    height: 515px;
}

.steps_scale {
    transform: scale(.7);
    -webkit-transform: scale(.7);
    top: -107px;
}

/*-- /Section 3 - Author Page --*/

/*-- Section 2 - Service --*/

.thumb_5 {
    width: calc(50% - 26px);
}

/*-- /Section 2 - Service --*/

/*-- Section 3 - Service --*/

.article_two_cols {
    width: 100%;
}

.sect_3_service_shape {
    display: none;
}

/*-- /Section 3 - Service --*/

/*-- Section 1 - Prices --*/

.price_promo_shape {
    width: 400px;
    bottom: -38px;
}

/*-- /Section 1 - Prices --*/

/*-- Section 1 - Order --*/

.order_steps {
    margin: 0 -20px;
}

.step_order {
    min-height: 170px;
    width: calc(25% - 40px);
    margin: 20px;
    padding: 15px 10px 15px 10px;
}

.step_num {
    font-size: 57px;
    line-height: 70px;
}

.step_order p {
    font-size: 14px;
    line-height: 19px;
}

.step_order:after {
    width: 69px;
    height: 102px;
    top: 23px;
    right: -48px;
    z-index: 2;
}

/*-- /Section 1 - Order --*/

/*-- Footer --*/

.footer_two_cols {
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
}

.footer_two_cols > div:nth-child(1) {
    width: 100%;
    padding: 10px 0;
    text-align: center;
}

.footer_two_cols > div:nth-child(2) {
    width: 100%;
    padding: 10px 0;
}

/*-- /Footer --*/

}

@media only screen and (max-width: 900px) {

/*-- Header --*/

.header_site_templ > .left {
    width: 90px;
}

.header_site_templ > .center {
    width: calc(100% - 245px);
}

.header_site_templ > .right {
    width: 155px;
    padding-top: 0;
}

.main_nav li {
    padding: 5px 10px;
}

.main_nav li a {
    font-size: 15px;
    line-height: 17px;
}

.tel_link span {
    font-size: 13px;
    line-height: 19px;
}

.header_pill {
    min-width: 145px;
    min-height: 30px;
}

/*-- /Header --*/

/*-- Section 2 - Main Page --*/

.item_2 {
    align-items: center;
    -webkit-align-items: center;
}

.item_2 p {
    font-size: 22px;
}

.rate_item p {
    font-size: 27px;
}

.slider_sect {
    padding: 45px 0 20px 0;
}

.slider_arrows {
    padding: 20px 0;
}

.how_works_templ {
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
}

.how_works_templ > div:nth-child(1) {
    width: 270px;
    margin: 0 auto;
    padding-top: 0;
}

.how_works_templ > div:nth-child(2) {
    width: 100%;
    padding-left: 0;
}

/*-- /Section 2 - Main Page --*/

/*-- Section 1 - FAQ --*/

.sect_1_faq {
    background-image: none;
}

/*-- /Section 1 - FAQ --*/

/*-- Section 2 - Contacts --*/

.map_templ {
    padding: 20px 0 0 0;
}

.map_templ > .left_col {
    width: 330px;
}

.map_templ > .right_col {
    width: calc(100% - 330px);
}

.map_templ h3 {
    padding: 0;
    font-size: 20px;
    line-height: 27px;
}

.contact_item_2 p {
    font-size: 16px;
    line-height: 161%;
}

/*-- /Section 2 - Contacts --*/

/*-- Section 3 - Contacts --*/

.tree_cols > div:nth-child(1) {
    width: 100%;
}

.tree_cols > div {
    width: 50%;
}

/*-- /Section 3 - Contacts --*/

/*-- Section 2 - About --*/

.about_thumb {
    width: calc(33.33% - 20px);
    margin: 10px;
}

.about_thumb p {
    font-size: 14px;
}

.about_thumb p .blue {
    font-size: 20px;
}

/*-- /Section 2 - About --*/

/*-- Section 3 - About --*/

.steps_templ {
    display: flex;
    display: -webkit-flex;
    flex-direction: column-reverse;
    -webkit-flex-direction: column-reverse;
    margin: 10px auto;
}

.step_item_2 {
    margin: 0;
}

.step_item_2 > div:nth-child(1) {
    width: calc(100% - 111px);
    order: 2;
}

.step_item_2 > div:nth-child(2) {
    width: 111px;
    left: 0;
    order: 1;
    text-align: left;
}

.step_percent {
    min-height: 0;
}

.step_percent > svg {
    display: none;
}

.step_item_2_shape {
    display: none;
}

.step_figure {
    max-width: 100% !important;
    min-height: 0 !important;
    padding: 9px 0;
}

.step_percent p {
    padding-top: 9px;
    color: #367FD3;
    text-align: left;
}

.step_item_2.orange .step_percent p {
    background: linear-gradient(180deg, #FD8C04 0%, #FD8C04 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}

.sect_3_about .h2_wrapp h2 {
    padding: 20px 0;
}

/*-- /Section 3 - About --*/

/*-- Section 5 - About --*/

.sect_5_about {
    padding: 35px 0;
}

.two_cols_3 {
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    margin: 6px 0;
}

.two_cols_3 > .left_col {
    width: 100%;
    padding: 10px 0;
}

.two_cols_3 > .right_col {
    width: 100%;
    padding: 10px 0;
}

.blue_box_2_wrapp {
    max-width: 100%;
    padding: 10px 0;
}

.thumbnails_7 {
    margin: 10px -2px;
}

/*-- /Section 5 - About --*/

/*-- Section 1 - Author Page --*/

.h1_wrapp_2 p {
    font-size: 20px;
    line-height: 30px;
}

/*-- /Section 1 - Author Page --*/

/*-- Section 3 - Author Page --*/

.sect_3_ap {
    padding-top: 4px;
}

.steps_scale_wrapp {
    height: 438px;
}

.steps_2_wrapp {
    margin: 10px auto 6px auto;
}

.steps_scale {
    transform: scale(.6);
    -webkit-transform: scale(.6);
    top: -147px;
}

.steps_2_cirlce .circle_icon {
    margin: 4px auto 8px auto;
}

.steps_2_cirlce h3 {
    padding: 3px 0;
    font-size: 22px;
}

.steps_2_cirlce p {
    font-size: 18px;
}

/*-- /Section 3 - Author Page --*/

/*-- Section 4 - Author Page --*/

.items_two_cols_2 {
    margin: 10px auto;
}

.items_two_cols_2 > div:nth-child(odd),
.items_two_cols_2 > div:nth-child(even) {
    width: 100%;
    padding: 0;
}

.items_two_cols_2 > div:nth-child(odd) .item_4:last-child {
    margin-bottom: 0;
}

.items_two_cols_2 > div:nth-child(even) .item_4:last-child {
    margin-bottom: 0;
}

/*-- /Section 4 - Author Page --*/

/*-- Section 5 - Service --*/

.service_article {
    min-height: auto;
}

.service_article > .left_col {
    display: none;
}

.service_article > .right_col {
    width: 100%;
    padding: 0;
}

.service_article_2 {
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
}

.service_article_2 > .left_col {
    display: block;
    width: 100%;
    padding: 0;
}

.service_article_2 > .right_col {
    width: 100%;
    padding: 0;
}

.service_article ul {
    padding: 0;
}

.service_article .white_box {
    margin: 16px 0;
    max-width: 100%;
}

/*-- /Section 5 - Service --*/

/*-- Section 6 - Service --*/

.thumb_6_inner {
    min-height: 325px;
}

.thumb_6_two_cols > div:nth-child(1) {
    width: 100%;
}

.thumb_6_two_cols > div:nth-child(2) {
    display: none;
}

/*-- /Section 6 - Service --*/

/*-- Section 2 - Prices --*/

.search_form h2 {
    font-size: 31px;
    line-height: 43px;
}

.prices_wrapp {
    margin: 45px auto 50px auto;
}

.search_form {
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
}

.search_form > div:nth-child(2) {
    width: calc(100% - 260px);
    padding: 5px 5px 5px 0;
}

.search_form > div:nth-child(1) {
    width: 100%;
    padding: 5px 0;
    text-align: center;
}

/*-- /Section 2 - Prices --*/

/*-- Section 1 - Order --*/

.order_steps_wrapp {
    margin: 10px auto;
}

.order_form {
    margin: 10px auto;
}

.input_two_cols_2 {
    margin: 3px 0;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
}

.input_two_cols_2 > div:nth-child(1) {
    width: 100%;
    padding: 2px 0;
}

.input_two_cols_2 > div:nth-child(2) {
    width: 100%;
    padding: 2px 0;
}

.input_two_cols_2 h3 {
    font-size: 15px;
    text-align: left;
}

.submit_wrapp_3 {
    margin: 10px auto;
    text-align: center;
}

/*-- /Section 1 - Order --*/

}

@media only screen and (max-width: 767px) {

.wrapper {
    padding-top: 53px;
}

h1 {
    font-size: 29px;
    line-height: 38px;
}

.h2_wrapp p {
    font-size: 15px;
    line-height: 22px;
}

/*-- Header --*/

.respmenubtn {
    display: block;
}

#resp_nav {
    /*display: block;*/
    display: none;
    max-width: 100vw;
    width: 100%;
    height: calc(100vh - 52px);
    overflow-x: hidden;
    overflow-y: auto;
    margin: 0;
    padding: 15px 10px 50px 10px;
    position: fixed;
    top: 52px;
    left: 0;
    z-index: 13;
    background: #fff;
}

.main_nav {
    display: block;
}

.main_nav li {
    width: 100%;
    padding: 10px 0;
    text-align: center;
}

.main_nav li a {
    font-size: 21px;
    line-height: 21px;
}

.header_site_templ > .left {
    width: 100px;
    padding-top: 0;
}

.header_site_templ > .center {
    width: 0;
    padding: 0;
}

.header_site_templ > .right {
    width: calc(100% - 100px);
}

.callback_wrapp {
    display: flex;
    display: -webkit-flex;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    align-items: center;
    -webkit-align-items: center;
}

.callback_wrapp > div {
    padding: 0 10px;
}

/*-- /Header --*/

/*-- Section 1 - Main Page --*/

.promo_sect {
    background-image: none;
}

/*-- /Section 1 - Main Page --*/

/*-- Section 2 - Main Page --*/

.sect_2_bg:before {
    display: none;
}

.h2_wrapp {
    padding: 20px 0;
    text-align: center;
}

.slider_sect {
    padding: 28px 0 20px 0;
}

.slider_wrapp {
    margin: 9px auto;
}

/*-- /Section 2 - Main Page --*/

/*-- Section 3 - Main Page --*/

.sect_3_mp {
    padding: 30px 0 28px 0;
}

.sect_3_mp:before {
    display: none;
}

.thunb_2 {
    padding: 19px 25px 10px 25px;
}

.thumbnails_2 {
    margin: 10px -10px;
}

.thunb_2_text h3 {
    font-size: 20px;
    line-height: 24px;
}

/*-- /Section 3 - Main Page --*/

/*-- Section 4 - Main Page --*/

.dropdown_item_title {
    padding: 15px 42px 7px 0;
}

.dropdown_item_title h3 {
    font-size: 19px;
    line-height: 25px;
}

.dropdown_item_title:after {
    right: 14px;
}

/*-- /Section 4 - Main Page --*/

/*-- Section 1 - FAQ --*/

.h1_wrapp_2 h1 {
    font-size: 29px;
    line-height: 38px;
}

.h1_wrapp_2_2 {
    padding: 5px 0 5px 0;
}

.h1_wrapp_2_2 p {
    font-size: 16px;
}

.h1_wrapp_2_2 p a {
    font-size: 22px;
}

/*-- /Section 1 - FAQ --*/

/*-- Section 2 - FAQ --*/

.sect_2_faq .h2_wrapp {
    padding-top: 45px;
}

.faq_item_title {
    padding: 15px 0 15px 0;
}

.faq_item_title h3 {
    font-size: 23px;
    line-height: 31px;
}

.faq_dr .dropdown_item_title:after {
    right: 12px;
}

.faq_dr .dropdown_item_title {
    padding: 16px 40px 7px 0;
}

/*-- /Section 2 - FAQ --*/

/*-- Section 1 - Contacts --*/

.contacts_promo {
    background-image: none;
}

.h1_wrapp_3 {
    padding: 10px 0 20px 0;
}

.h1_wrapp_3 h1 {
    font-size: 29px;
}

.h1_wrapp_3 p {
    font-size: 16px;
}

/*-- /Section 1 - Contacts --*/

/*-- Section 2 - Contacts --*/

.map_templ > .left_col {
    width: 100%;
}

.map_templ > .right_col {
    display: none;
}

/*-- /Section 2 - Contacts --*/

/*-- Section 3 - Contacts --*/

.inner_slider .slide {
    height: 250px;
}

.inner_slider {
    height: 250px;
}

/*-- /Section 3 - Contacts --*/

/*-- Section 1 - 404 --*/

.templ_404 > .left_col {
    display: none;
}

.templ_404 > .right_col {
    width: 100%;
}

/*-- /Section 1 - 404 --*/

/*-- Section 1 - About --*/

.h1_wrapp_about {
    padding: 20px 0;
}

.h1_wrapp_about h1 {
    font-size: 29px;
    line-height: 37px;
}

.h1_wrapp_about p {
    font-size: 16px;
}

/*-- /Section 1 - About --*/

/*-- Section 1 - Author Page --*/

.sect_1_ap {
    background-image: none;
}

/*-- /Section 1 - Author Page --*/

/*-- Section 3 - Author Page --*/

.sect_3_ap:before {
    display: none;
}

.steps_bg {
    display: none;
}

.steps_scale_wrapp {
    height: auto;
}

.steps_2_wrapp {
    height: auto;
    width: 100%;
}

.steps_scale {
    transform: none;
    top: 0;
}

.steps_2_wrapp {
    height: auto;
    width: 100%;
    margin: 51px auto 6px auto;
    left: 0;
    transform: none;
}

.steps_2_cirlce {
    background: #fff;
    width: calc(100% - 20px);
    margin: 10px;
    height: auto;
    border-radius: 0;
    padding-bottom: 20px;
}

.steps_2_cirlce h3 {
    font-size: 20px;
}

.steps_2_cirlce p {
    font-size: 16px;
}

.step_2_item {
    width: calc(50% - 20px);
    max-width: calc(50% - 20px);
    background-color: #fff;
    margin: 10px;
    padding: 10px 10px;
    position: relative;
    top: 0 !important;
    left: 0 !important;
    right: auto !important;
}

.step_2_item_3 {
    width: calc(100% - 20px);
    max-width: calc(100% - 20px);
}

.steps_inner {
    display: flex;
    display: -webkit-flex;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    margin: 0 -10px;
}

/*-- /Section 3 - Author Page --*/

/*-- Section 3 - Author Page --*/

.sect_4_ap:before {
    display: none;
}

/*-- /Section 3 - Author Page --*/

/*-- Section 4 - Author Page --*/

.item_4 {
    margin: 20px 0;
}

.item_4 > div:nth-child(1) {
    width: 90px;
}

.item_4 > div:nth-child(2) {
    width: calc(100% - 90px);
}

.item_4 h3 {
    font-size: 19px;
}

/*-- /Section 4 - Author Page --*/

/*-- Section 1 - Service --*/

.sect_1_service {
    background-image: none;
}

.thumb_4 > div:nth-child(2) {
    padding-top: 20px;
}

.thumb_4 p {
    font-size: 22px;
    line-height: 30px;
}

/*-- /Section 1 - Service --*/

/*-- Section 2 - Service --*/

.sect_2_service:before {
    display: none;
}

.thumbnails_5_wrapp {
    padding: 45px 0;
}

.thumbnails_5 {
    margin: 23px 0;
}

.thumb_5 {
    width: 100%;
    margin: 13px 0;
}

/*-- /Section 2 - Service --*/

/*-- Section 3 - Service --*/

.sect_3_service:before {
    display: none;
}

/*-- /Section 3 - Service --*/

/*-- Section 4 - Service --*/

.sect_4_service {
    padding-top: 36px;
}

.sect_4_service:before {
    display: none;
}

.how_works_templ_2 {
    margin: 50px auto;
}

/*-- /Section 4 - Service --*/

/*-- Section 5 - Service --*/

.sect_5_service:before {
    display: none;
}

/*-- Section 5 - Service --*/

/*-- Section 6 - Service --*/

.sect_6_service:before {
    display: none;
}

.thumbnails_6 {
    margin: 30px 0;
}

.thumb_6 {
    width: 100%;
    max-width: 600px;
    margin: 10px auto;
}

.thumbnails_3_2 {
    margin-top: 30px;
    margin-bottom: 40px;
}

/*-- /Section 6 - Service --*/

/*-- Section 1 - Prices --*/

.sect_1_price {
    background-image: none;
}

.h1_wrapp_5 h1 {
    font-size: 29px;
}

.price_promo_shape {
    display: none;
}

.item_6 p {
    font-size: 16px;
}

/*-- /Section 1 - Prices --*/

/*-- Section 2 - Prices --*/

.search_form > div:nth-child(2) {
    width: calc(100% - 90px);
}

.search_form > div:nth-child(3) {
    width: 90px;
}

.search_form > div:nth-child(3) .orange_pill {
    min-width: 100%;
}

.price_table_row > div:nth-child(2) {
    width: 20%;
}

.price_table_row > div:nth-child(3) {
    width: 21%;
    padding: 5px 10px;
}

/*-- /Section 2 - Prices --*/

/*-- Section 1 - Order --*/

.step_num {
    font-size: 44px;
    line-height: 48px;
}

.order_steps {
    margin: 0 -10px;
}

.step_order {
    width: calc(25% - 20px);
    margin: 10px;
    min-height: 140px;
    padding: 5px 10px 15px 10px;
}

.step_order p {
    font-size: 13px;
    line-height: 18px;
    font-weight: 500;
}

.step_order:after {
    width: 45px;
    height: 57px;
    top: 12px;
    right: -36px;
}

/*-- /Section 1 - Order --*/

/*-- Section 1 - Order --*/

.order_form_inner {
    padding: 5px 15px 15px 15px;
}

.order_form_title {
    padding: 10px 0 15px 0;
}

.order_form_title h2 {
    font-size: 26px;
    line-height: 35px;
}

.order_form_title p {
    font-size: 21px;
    line-height: 27px;
}

.input_wrapp input,
.input_wrapp_2 input {
    height: 35px;
    line-height: 35px;
}

.input_wrapp .custom_select_title,
.input_wrapp_2 .custom_select_title {
    height: 35px;
}

.input_wrapp .custom_select_title:after,
.input_wrapp_2 .custom_select_title:after {
    top: 14px;
}

.input_wrapp .p_val,
.input_wrapp_2 .p_val {
    line-height: 35px;
}

.input_date_wrapp.input_wrapp_2 input {
    height: 35px;
}

.percent_input p {
    font-size: 20px;
    top: 9px;
}

.input_wrapp textarea {
    height: 70px;
}

.submit_wrapp_3 .orange_pill {
    min-height: 43px;
}

.checked_thumbs {
    margin: 0 -5px;
}

.checked_thumb {
    width: calc(33.33% - 10px);
    margin: 5px;
}

.checked_thumb_title p {
    font-size: 13px !important;
    line-height: 18px !important;
    top: 3px;
    right: 11px;
}

.files_list_wrapp {
    padding: 0 10px;
}

.file_item > div:nth-child(1) {
    width: calc(100% - 235px);
}

.file_item > div:nth-child(2) {
    width: 210px;
}

/*-- /Section 1 - Order --*/

}

@media only screen and (max-width: 700px) {

/*-- Section 2 - Main Page --*/

.inlines {
    margin: 20px 0;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
}

.inlines > div {
    width: 100%;
    padding: 5px 0;
    display: flex;
    display: -webkit-flex;
    justify-content: center;
    -webkit-justify-content: center;
}

/*-- /Section 2 - Main Page --*/

/*-- Section 3 - Main Page --*/

.thumbnails_2 {
    margin: 10px 0;
}

.thunb_2 {
    width: 100%;
    margin: 10px 0;
}

/*-- /Section 3 - Main Page --*/

/*-- Section 5 - Main Page --*/

.thumb_3 {
    width: 100%;
    margin: 7px 0;
}

/*-- /Section 5 - Main Page --*/

/*-- Section 2 - About --*/

.about_thumbs_sect {
    margin: 15px 0 20px 0;
}

.about_thumbs_img {
    display: none;
}

.about_thumbs {
    margin: 10px 0;
}

.about_thumb {
    width: 100%;
    margin: 10px 0;
}

/*-- /Section 2 - About --*/

/*-- Section 1 - Author Page --*/

.h1_wrapp_2 p {
    font-size: 18px;
    line-height: 27px;
}

.items_two_cols > div:nth-child(odd) {
    width: 100%;
    padding: 0;
}

.items_two_cols > div:nth-child(even) {
    width: 100%;
    padding: 0;
}

/*-- /Section 1 - Author Page --*/

/*-- Section 2 - Author Page --*/

.steps_wrapp {
    height: 310px;
}

.steps_lines {
    width: 450px;
}

.step_1 {
    bottom: 26px;
    left: 1%;
}

.step_2 {
    bottom: 65px;
    left: 28%;
}

.step_3 {
    bottom: 103px;
    left: 53%;
}

.step_4 {
    bottom: 162px;
    left: 79%;
}

/*-- .Section 2 - Author Page --*/

/*-- Section 2 - Prices --*/

.price_table_wrapp {
    min-width: 500px;
    margin: 10px 0;
}

.price_table_row > div {
    min-height: 61px;
}

.price_table_row > div:nth-child(1) p {
    font-size: 15px;
}

.price_table_row > div:nth-child(2) p {
    font-size: 15px;
}

.price_table h3 {
    font-size: 15px;
}

.old_price {
    font-size: 15px;
}

.price {
    font-size: 15px;
}

.price_table_row .transparent_pill {
    font-size: 13px;
}

.search_form .input_wrapp input {
    font-size: 17px;
}

/*-- /Section 2 - Prices --*/

/*-- Footer --*/

.seo_wrapp > div {
    width: 100%;
    padding: 10px 0;
    text-align: center;
}

.links_inlines > div {
    width: 100%;
    text-align: center;
}

.payments_list {
    justify-content: center;
    -webkit-justify-content: center;
}

/*-- /Footer --*/

}

@media only screen and (max-width: 600px) {

.wrapper {
    padding-top: 53px;
}

/*-- Header --*/

.tel_link svg {
    height: 32px;
}

.tel_link span {
    display: none;
}

.header_pill {
    min-width: 102px;
    min-height: 29px;
}

/*-- /Header --*/

/*-- Section 1 - Main Page --*/

.inner_wrapp {
    padding: 13px 20px 34px 20px;
}

.promo_form_title h3 {
    font-size: 27px;
    line-height: 30px;
}

.input_two_cols {
    display: block;
}

.input_two_cols > div:nth-child(1) {
    width: 100%;
    padding: 5px 0 0 0;
}

.input_two_cols > div:nth-child(2) {
    width: 100%;
    padding: 5px 0;
}

.submit_wrapp {
    padding: 10px 0 0 0;
}

/*-- /Section 1 - Main Page --*/

/*-- Section 4 - About --*/

.line_article .inner {
    width: 100%;
    position: relative;
    z-index: 2;
}

.line_article_shape {
    opacity: .5;
}

/*-- /Section 4 - About --*/

/*-- Section 1 - Author Page --*/

.promo_shape_2 {
    display: none;
}

/*-- /Section 1 - Author Page --*/

/*-- Section 2 - Author Page --*/

.sect_2_ap:before {
    display: none;
}

.steps_wrapp {
    height: auto;
}

.steps_lines {
    display: none;
}

.step_item {
    margin: 10px 0;
    max-width: 100%;
    position: relative !important;
    bottom: 0 !important;
    left: 0 !important;
}

.step_item h3 {
    font-size: 17px;
}

.step_item p.price_range {
    font-size: 22px;
}

.step_item p {
    font-size: 20px;
}

/*-- /Section 2 - Author Page --*/

/*-- Section 3 - Author Page --*/

.step_2_item p {
    padding: 3px 0;
    font-size: 18px;
}

/*-- /Section 3 - Author Page --*/

/*-- Section 1 - Order --*/

.step_num {
    font-size: 44px;
    line-height: 48px;
}

.order_steps {
    margin: 0 -10px;
}

.step_order {
    width: calc(50% - 20px);
    margin: 10px;
    min-height: auto;
    padding: 5px 10px 15px 10px;
}

.step_order p {
    font-size: 15px;
    line-height: 19px;
}

.step_order:nth-child(even):after {
    display: none;
}

.input_two_cols_2 {
    margin: 0;
}

.checked_thumb_title {
    padding-top: 14px;
}

.checked_thumb_desc {
    padding: 5px 5px 5px 5px;
}

.file_item {
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    padding: 5px 0;
}

.file_item > div:nth-child(1) {
    width: 100%;
}

.file_item > div:nth-child(2) {
    width: calc(100% - 25px);
}

/*-- /Section 1 - Order --*/

}

@media only screen and (max-width: 480px) {

h2 {
    font-size: 24px;
}

/*-- Header --*/

.row {
    padding: 0 15px;
}

.callback_wrapp > div {
    padding: 0 5px;
}

.respmenubtn {
    margin-right: -15px;
    top: 4px;
}

.tel_link svg {
    height: 28px;
}

.header_pill {
    min-width: 74px;
    min-height: 31px;
    font-weight: 500;
    font-size: 13px;
}

/*-- /Header --*/

/*-- Section 1 - Main Page --*/

.item {
    margin: 10px 0 10px 0;
}

.promo_form:before {
    display: none;
}

.input_inlines {
    margin: 0;
}

.input_inlines > div {
    width: 100%;
    max-width: 100%;
    padding: 5px 0;
}

.submit_wrapp .orange_pill {
    min-width: 100%;
}

/*-- /Section 1 - Main Page --*/

/*-- Section 2 - Main Page --*/

.rate_two_cols > div:nth-child(1) {
    width: 56px;
}

.rate_two_cols > div:nth-child(2) {
    margin-top: -5px;
}

.rate_item p {
    font-size: 23px;
}

.thumb_1 {
    max-width: 280px;
}

.thumb_1_inner {
    padding: 0 10px;
}

.thumb_1_icon {
    height: 130px;
    margin: 10px 0;
}

.thumb_1_title h3 {
    font-size: 20px;
    line-height: 28px;
}

.thumb_1_price p {
    font-size: 22px;
}

.slider_arrows .slider_dots {
    padding: 14px 8px;
}

.slider_arrows .slider_dots {
    padding: 17px 8px;
}

.slick-dots li {
    margin: 2px;
}

.item_3 {
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    justify-content: center;
    -webkit-justify-content: center;
}

.item_3 > div:nth-child(1) {
    width: 118px;
}

.item_3 > div:nth-child(2) {
    width: 100%;
    text-align: center;
}

.item_3 > div:nth-child(1) img {
    display: block;
    max-width: 100%;
    margin: 0 auto;
}

/*-- /Section 2 - Main Page --*/

/*-- Section 3 - Contacts --*/

.tree_cols > div {
    width: 100%;
}

/*-- /Section 3 - Contacts --*/

/*-- Section 3 - About --*/

.step_item_2 > div:nth-child(1) {
    width: calc(100% - 80px);
}

.step_item_2 > div:nth-child(2) {
    width: 80px;
}

.step_percent p {
    font-size: 25px;
}

.step_figure h3 {
    font-size: 19px;
}

/*-- /Section 3 - About --*/

/*-- Section 5 - About --*/

.thumb_7 {
    width: 100%;
    margin: 2px 0;
}

/*-- /Section 5 - About --*/

/*-- Section 3 - Author Page --*/

.steps_2_wrapp {
    margin: 20px auto 6px auto;
}

.step_2_item p {
    font-size: 14px;
}

/*-- /Section 3 - Author Page --*/

/*-- Section 4 - Author Page --*/

.sect_4_ap {
    padding-top: 30px;
}

.item_4 {
    display: block;
}

.item_4 > div:nth-child(1) {
    width: 100%;
    margin-bottom: 10px;
}

.item_4 > div:nth-child(2) {
    width: 100%;
    text-align: center;
}

.item_4 > div:nth-child(1) img {
    display: block;
    width: auto;
    height: auto;
    margin: 0 auto;
    max-width: 100%;
}

.form_wrapp_2 {
    margin: 50px auto 50px auto;
}

.form_wrapp_2 h3 {
    font-size: 24px;
}

/*-- /Section 4 - Author Page --*/

/*-- Section 2 - Service --*/

.thumb_5_title h3 {
    font-size: 15px;
}

.thumb_5 p {
    font-size: 14px;
}

/*-- /Section 2 - Service --*/

/*-- Section 6 - Service --*/

.thumb_6_inner {
    padding: 10px 10px;
}

.thumb_6_content {
    padding: 0;
}

.tag p {
    font-size: 16px;
}

.btn_wrapp_3 {
    padding: 10px 0;
}

.btn_wrapp_3 .orange_pill {
    min-width: 270px;
}

/*-- /Section 6 - Service --*/

/*-- Section 1 - Order --*/

.order_steps {
    margin: 0 -4px;
}

.step_order {
    width: calc(50% - 8px);
    margin: 4px;
    padding: 5px 5px 5px 5px;
}

.step_order:after {
    top: 38px;
    right: -28px;
}

/*-- /Section 1 - Order --*/

/*-- Section 1 - Order --*/

.order_form_title {
    padding: 6px 0 6px 0;
}

.order_form_title {
    text-align: center;
}

.order_form_title h2 {
    font-size: 18px;
    line-height: 31px;
}

.order_form_title p {
    font-size: 14px;
    line-height: 18px;
}

.input_two_cols {
    padding: 1px 0;
}

.input_two_cols_2 h3 {
    font-size: 14px;
}

.checked_thumb {
    width: calc(33.33% - 4px);
    margin: 2px;
}

.checked_thumb p {
    font-size: 12px;
    text-align: center;
}

.input_inlines {
    margin: 0 -5px;
}

.input_inlines > div {
    width: 50%;
    max-width: 50%;
    padding: 0 5px;
}

.submit_wrapp_3 {
    width: 100%;
}

.submit_wrapp_3 .orange_pill {
    min-width: 100%;
    font-size: 16px;
}

.drop_area {
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    padding: 5px 5px 5px 5px;
}

.drop_area > div {
    width: 100%;
    text-align: center;
    padding: 5px 5px;
}

.files_list_wrapp {
    padding: 0 10px 0 10px;
}

.drop_plus_btn {
    padding: 10px 10px;
    min-height: 35px;
    font-size: 15px;
    line-height: 17px;
}

/*-- /Section 1 - Order --*/

}


@media only screen and (min-width: 768px) {

#resp_nav {
    display: block !important;
}

}
